/*variables colores*/
/*variables fuentes*/
/*mixin*/
/*receteo css*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  color: #0b0606;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

h2 {
  font-size: clamp(1.5rem, 3vw + 1rem, 4rem);
  color: #0b0606;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: hsl(180, 100%, 97%);
  font-family: "Roboto", sans-serif;
}

header {
  display: grid;
  grid-template-rows: repeat(2, auto);
  background-color: rgb(253, 253, 253);
  padding: 5px;
}

.h1-logo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1-logo-contenedor img {
  width: 2vw;
  min-width: 5rem;
}

@media (min-width: 768px) {
  header .h1-logo-contenedor img {
    width: 10rem;
  }
}
footer {
  background-color: #1c1b1b;
  bottom: 0;
}
footer p {
  color: aliceblue;
}

.nav-bar ul {
  display: grid;
  gap: 5px;
}
.nav-bar li {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #0c0a0a;
  transition: transform 2.5s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 900;
}
.nav-bar li:hover {
  background-color: #0c0a0a;
  color: aliceblue;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .nav-bar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transform: translateY(-5px);
  }
}
.card-contenedor-column .card-imagen-column {
  width: 100%;
}
.card-contenedor-column .card-parrafo-column {
  padding: 20px 0px;
}

@media (min-width: 768px) {
  .card-contenedor-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    display: grid;
    gap: 40px;
    padding: 10px;
  }
  .card-contenedor-column .h2-card-column {
    grid-column: 1/4;
    padding-bottom: 5px;
  }
  .card-contenedor-column .card-parrafo {
    padding: 20px 0px;
  }
}
.card-contenedor-row .card-imagen-row {
  width: 100%;
}
.card-contenedor-row .card-parrafo {
  padding: 20px 0px;
}

@media (min-width: 768px) {
  .card-contenedor-row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 20px;
    display: grid;
    gap: 40px;
    padding: 10px;
  }
  .card-contenedor-row .h2-card-row {
    grid-column: 1/4;
    padding-bottom: 5px;
  }
  .card-contenedor-row .card-imagen-row {
    width: 25rem;
  }
  .card-contenedor-row .card-parrafo {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
/*SECCION VISION - MOTIVACION*/
.index-vision-motivacion-contenedor {
  margin: 0px;
  height: 38.125rem;
}
.index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor {
  position: relative;
  height: 35rem;
}
.index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor .video-vision-motivacion {
  width: 100%;
  position: absolute;
  height: 35rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor .parrafo-vision-motivacion {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #110e0e;
  padding: 30px;
  font-size: clamp(0.8rem, 4.5vw, 1.5rem);
  top: 0;
  color: whitesmoke;
  text-align: center;
}

/*SECCION MIS-PROYECTOS*/
.index-mis-proyectos-contenedor .index-imagenes-mis-proyectos {
  width: 100%;
}
.index-mis-proyectos-contenedor .index-misproyectos-parrafos {
  text-align: center;
  padding: 20px 0px;
}

@media (min-width: 768px) {
  /*SECCION VISION - MOTIVACION*/
  .index-vision-motivacion-contenedor {
    margin-top: 25px;
    height: 56.82vw;
  }
  .index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 0%;
    height: 51.99vw;
  }
  .index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor .video-vision-motivacion {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .index-vision-motivacion-contenedor .vision-motivacion-video-parrafo-contenedor .parrafo-vision-motivacion {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 100px;
    font-size: 3vw;
  }
  /*SECCION MIS-PROYECTOS*/
  .index-mis-proyectos-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    display: grid;
    gap: 40px;
    padding: 10px;
  }
  .index-mis-proyectos-contenedor h2 {
    grid-column: 1/4;
  }
  .index-mis-proyectos-contenedor .index-misproyectos-parrafos {
    padding: 20px 0px;
  }
}
.contenedor-formulario {
  width: auto;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto-form {
  width: 100%;
  height: 100%;
}
.contacto-form .label-input-form {
  display: grid;
  grid-template-rows: repeat(2, auto);
  display: grid;
  gap: 8px;
  margin-top: 4px;
}
.contacto-form .label-input-form input {
  width: 100%;
  height: 2rem;
}
.contacto-form .botton-form-comtacto {
  width: 100%;
  height: 3rem;
}

@media (min-width: 768px) {
  .contenedor-formulario {
    padding: 5rem 10rem;
  }
}
.experiencia-contenedor {
  padding: 15px;
  width: 100%;
}
.experiencia-contenedor .experiencia-parrafo {
  padding: 40px;
  text-align: justify;
}

@media (min-width: 768px) {
  .experiencia-contenedor {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .experiencia-contenedor .experiencia-parrafo {
    padding: 100px;
    text-align: justify;
    width: 100%;
    height: 100%;
    font-size: 2vw;
  }
}

/*# sourceMappingURL=style.css.map */
