/*variables*/
$colorFondoPrincipal: #FFFFFF;
$colorFondoSecciones: #E0E0E0;
$colorTexto: #000000;
$colorBordes: #B0B0B0;


/*mixin*/

@mixin size ($width, $height: null) {
    width: $width;
    height: $height;
}

@mixin align-items-row ($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin align-items-column ($justify: space-between, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin gap-size ($gap-size: 5px) {
    display: grid;
    gap: $gap-size;
}

/*receteo css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {

    list-style: none;
}

a {
    text-decoration: none;
    color: $colorTexto;
}