/*variables colores*/
$colorFondoPrincipal: #1c1b1b;
$colorFondoSecciones: #090707;
$colorTexto: #000000;
$colorTextoClaro: #110e0e;
$colorBordes: #0c0a0a;

/*variables fuentes*/

$tituloPrincipal: 2rem;
$tituloSeccion: (
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem),  
    color: #0b0606,         
    font-weight: bold,    
    padding: 8px,
    text-align: center
    
);

$fontFamily: Verdana, Geneva, Tahoma, sans-serif;






/*mixin*/

@mixin size ($width: 100%, $height: null) {
    width: $width;
    height: $height;
}

@mixin align-items-row ($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin align-items-column ($justify: space-between, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin gap-size ($gap-size: 5px) {
    display: grid;
    gap: $gap-size;
}

/*receteo css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {

    list-style: none;
}

a {
    text-decoration: none;
    color: $colorTexto;
}

h2 { 
    
    @each $key, $value in $tituloSeccion {
        #{$key}: $value;}
}