/*variables colores*/
$colorFondoPrincipal: #FFFFFF;
$colorFondoSecciones: #E0E0E0;
$colorTexto: #000000;
$colorTextoClaro: #ffffff;
$colorBordes: #B0B0B0;

/*variables fuentes*/

$tituloPrincipal: 2rem;
$tituloSeccion: 1.75rem;
$fontFamily: Verdana, Geneva, Tahoma, sans-serif;




/*mixin*/
@mixin TituloSecciones (){
    font-size: $tituloSeccion;
    padding: 8px;
    align-items: center;
    text-align: center;
}
@mixin size ($width: 100%, $height: null) {
    width: $width;
    height: $height;
}

@mixin align-items-row ($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin align-items-column ($justify: space-between, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin gap-size ($gap-size: 5px) {
    display: grid;
    gap: $gap-size;
}

/*receteo css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {

    list-style: none;
}

a {
    text-decoration: none;
    color: $colorTexto;
}