.nav-bar {


    ul {
        @include gap-size();
    }

    li {
        @include size (100%, 2rem);
        @include align-items-column (space-around, center);
        border: 2px solid $colorBordes;
        transition: transform 2.5s ease;
        transition: background-color 0.3s ease, color 0.3s ease; 
        font-weight: 900;

        &:hover {
            background-color: $colorBordes;
            color: aliceblue;
            transform: scale(1.05);
           
        }
    }
}

@media (min-width: 768px) {
    .nav-bar {
ul { 
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            transform: translateY(-5px); 
        }
       
    }

}