



.contenedor-formulario {

   
    @include size (auto, 100%);
    padding: 50px;
    @include align-items-column (center);
   
}
    .contacto-form {

        @include size (100%, 100%);

        

        .label-input-form {
            display: grid;
            grid-template-rows: repeat(2, auto);
            @include gap-size (8px);
            margin-top: 4px;

            input {
                @include size (100%, 2rem)
            }
        }

        .botton-form-comtacto {
            @include size (100%, 3rem);
        }
    }


@media (min-width: 768px) {

    .contenedor-formulario {

        padding: 5rem 10rem;
    }
}