



.contenedor-formulario {

   
    @include size (auto, 100%);
    padding: 50px;
    @include align-items-column (center);
   
}
    .contacto-form {

        @include size (100%, 100%);

        

        .label-input-form {
            display: grid;
            grid-template-rows: repeat(2, auto);
            @include gap-size (8px);
            margin-top: 4px;
            width: 100%;

            input {
                @include size (100%, 2rem)
            }
        }

        .botton-form-comtacto {
            margin-top: 10px;
            @include size (5rem, 3rem);
        }
    }


@media (min-width: 768px) {

    .contenedor-formulario {
        @include size (100%, 100%);
        padding: 5rem 10rem;

    }


    
    .label-input-form {
        display: grid;
        grid-template-rows: repeat(2, auto);
        @include gap-size (8px);
        margin-top: 4px;
        

    
    }
}